<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.my.checkDownloads</string>
        <key>Program</key>
        <string>/usr/bin/osascript</string>
        <key>ProgramArguments</key>
        <array>
                <string>osascript</string>
                <string>/Users/olegilnytskyi/workspace/download-folder-checker/dialog.scpt</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>16</integer>
            <key>Minute</key>
            <integer>17</integer>
        </dict>
        <key>StandardOutPath</key>
        <string>/Users/olegilnytskyi/workspace/download-folder-checker/launchd.stdout.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/olegilnytskyi/workspace/download-folder-checker/launchd.stderr.log</string>
</dict>
</plist>